<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mddorma.tv">

    <!-- Permisos requeridos para conectarse a internet y reproducir streaming -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <!-- Declaramos que esta app está diseñada para TV, no requiere pantalla táctil -->
    <uses-feature android:name="android.software.leanback" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

    <!-- hardwareAccelerated="true" es vital para que el video rinda a 60fps -->
    <application
        android:allowBackup="true"
        android:label="mddormatv"
        android:icon="@mipmap/ic_launcher"
        android:banner="@mipmap/banner"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
        android:hardwareAccelerated="true">
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- Categoría LEANBACK_LAUNCHER hace que aparezca en el menú de Android TV -->
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
                <!-- Categoría LAUNCHER hace que también aparezca en celulares/tablets -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
